@font-face {
  font-family: "comic";
  src: url("../fonts/comic-sans.ttf");
}

body {
  background-image: url("https://media1.tenor.com/m/-fkKxzRacXsAAAAd/teto-kasane-teto.gif");
  background-size: contain;
}

th,
td {
  text-align: center;
  font-family: "comic";
}
